{% extends 'base.html' %}

{% block title %}הפרופיל של {{ profile_user.username }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">הפרופיל של {{ profile_user.username }}</h1>
    
    {% if not user == profile_user %}
        {% if is_following %}
            <a href="{% url 'unfollow_user' profile_user.username %}" class="btn btn-secondary mb-3">הפסק לעקוב</a>
        {% else %}
            <a href="{% url 'follow_user' profile_user.username %}" class="btn btn-primary mb-3">עקוב</a>
        {% endif %}
    {% endif %}
    
    <h2 class="mb-3">הממים של {{ profile_user.username }}:</h2>
    <div class="row">
        {% for meme in all_memes %}
            <div class="col-md-4 mb-4">
                {% if meme.creator == profile_user %}
                    {% include "meme_card.html" with meme=meme %}
                {% else %}
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            ריטווט מאת {{ profile_user.username }}
                        </div>
                        {% include "meme_card.html" with meme=meme is_retweet=True %}
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <div class="col-12">
                <p class="text-center">אין ממים להצגה.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}